:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --pale-cyan: hsl(173, 61%, 77%, 1);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  background-color: var(--light-grayish-cyan);
  min-height: 100vh;
}

// GENERIC STYLES
label {
  font-size: 1.2rem;
  color: var(--dark-grayish-cyan);
  display: block;
  margin-bottom: 0.4rem;
}

input {
  font-family: inherit;
  font-size: 2rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.border-strong-cyan {
  border: 2px solid transparent;
}

.border-strong-cyan:focus,
.border-strong-cyan:hover {
  border: 2px solid var(--strong-cyan);
  outline-color: var(--strong-cyan);
}

// SPECIFIC STYLES
.main-container {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 4rem;
  margin-bottom: 5rem;
}

.calc {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 10px;

  &__left-box,
  &__right-box {
    width: 100%;
    border-radius: 5px;
    padding: 0.8rem;
  }

  &__right-box {
    background-color: var(--very-dark-cyan);
    padding: 2.8rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__input-box {
    width: 100%;
  }

  &__input {
    position: relative;
    height: 3.5rem;
    width: 100%;
  }

  &__input-icon {
    height: 1.3rem;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  &__input-box:not(:last-child) {
    margin-bottom: 2.8rem;
  }

  &__value-input {
    height: 100%;
    background-color: var(--very-light-grayish-cyan);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    color: var(--very-dark-cyan);
    text-align: right;
  }

  &__value-input::placeholder {
    text-align: right;
    color: var(--grayish-cyan);
    font-size: 1.8rem;
    position: absolute;
    right: 10px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  // Hide arrows from the input number
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__label-with-error {
    display: flex;
    justify-content: space-between;
  }

  &__error {
    color: rgba(255, 0, 0, 0.795);
  }

  &__number-of-people {
    border: 2px solid transparent;
    outline: transparent;
  }

  &__number-of-people:hover {
    border-color: var(--strong-cyan);
  }

  &__number-of-people.error,
  &__number-of-people.error:hover {
    border-color: rgba(255, 0, 0, 0.795);
  }

  &__error.hidden {
    opacity: 0;
  }

  &__select-tip {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
  }

  &__tip-amount {
    height: 3.5rem;
    background-color: var(--very-dark-cyan);
    padding: 1.4rem 1.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    justify-content: center;
    border: none;
    outline: none;
    text-align: center;
    color: var(--white);

    &:hover {
      background-color: var(--pale-cyan);
      color: var(--very-dark-cyan);
    }

    &:focus,
    &.active {
      background-color: var(--strong-cyan);
      color: var(--very-dark-cyan);
    }
  }

  &__custom-tip {
    background-color: var(--very-light-grayish-cyan);
    font-size: 2rem;
    text-align: right;
    color: var(--very-dark-cyan);
    padding: 0 10px;
  }

  &__custom-tip::placeholder {
    font-size: 1.8rem;
    text-align: center;
    color: var(--dark-grayish-cyan);
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__total {
    margin-bottom: 2rem;
  }

  &__amount-label {
    font-size: 1.2rem;
    color: var(--white);
    letter-spacing: 0.4px;

    span {
      color: var(--grayish-cyan);
      font-size: 1rem;
    }
  }

  &__amount {
    font-size: 3.2rem;
    color: var(--strong-cyan);
  }

  &__reset-button {
    margin-top: auto;
    cursor: pointer;
    height: 3.4rem;
    border: none;
    background-color: hsl(184, 75%, 24%);
    color: var(--very-dark-cyan);
    font-weight: 600;
    border-radius: 3px;

    &:hover {
      background-color: red;
      background-color: var(--pale-cyan);
    }

    &.active {
      background-color: var(--strong-cyan);
    }
  }
}

// 1000PX
@media (max-width: 62.5em) {
  .main-container {
    width: 80%;
  }

  .calc {
    padding: 2rem;

    &__select-tip {
      gap: 1rem;
    }
  }
}

// 900PX
@media (max-width: 56.25em) {
  .main-container {
    width: 90%;
  }
}

// 760PX
@media (max-width: 47.5em) {
  .calc {
    grid-template-columns: 1fr;
  }

  .calc__total {
    margin-bottom: 4rem;
  }
}

// 420PX
@media (max-width: 26.25em) {
  .main-container {
    width: 100%;
  }

  .calc__custom-tip::placeholder {
    font-size: 1.4rem;
  }
}
